@font-face {
  font-family: 'Exo';
  font-weight: normal;
  font-style: normal;
  src:
    url('../fonts/Exo/Exo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'ExoSemiBold';
  font-weight: normal;
  font-style: normal;
  src:
    url('../fonts/Exo/Exo-SemiBold.ttf') format('truetype');
}


@font-face {
  font-family: 'Source';
  font-weight: normal;
  font-style: normal;
  src:
    url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source-Bold';
  font-weight: normal;
  font-style: normal;
  src:
    url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source-SemiBold';
  font-weight: normal;
  font-style: normal;
  src:
    url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source-Light';
  font-weight: normal;
  font-style: normal;
  src:
    url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source-Black';
  font-weight: normal;
  font-style: normal;
  src:
    url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format('truetype');
}